html,
* {
    font-family: sans-serif;
}

body {
    margin: 0;
    /* font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue'; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#message {
    margin: 1em;
}

#randomNote {
    font-size: 20px;
    border: 3px solid #4b5ac2;
    border-radius: 2px;
    padding: 1rem;
    display: inline-block;
}

footer {
    margin: 1em;
}

.home nav,
.home nav button {
    background-color: #ffc4d6;
}

.read nav,
.read nav button {
    background-color: #4b5ac2;
}

.write nav,
.write nav button {
    background-color: #ffd253;
}

.music nav,
.music nav button {
    background-color: #9cdfd0;
}

.suggest nav,
.suggest nav button {
    background-color: #D25559;
}

.admin nav,
.admin nav button {
    background-color: #886D6D;
}

nav {
    background-color: #ffc4d6;
}

nav button {
    background-color: #ffc4d6;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

nav button:hover {
    color: darkslateblue;
    text-decoration: line-through;
}

nav button:active {
    color: mediumpurple;
    text-decoration: line-through;
}

nav a,
nav a:link,
nav a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: darkslateblue;
    text-decoration: line-through;
}

nav a:active {
    color: mediumpurple;
    text-decoration: line-through;
}

.navlink {
    background-color: #ffc4d6;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
    color: white;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 4px;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: color 0.8s ease;
    color: #4dc488;
}

#content {
    padding-left: 1em;
    padding-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#loading {
    display: flex;
    text-align: center;
    flex-direction: column;
}

#loginForm,
#signupForm,
#passForm {
    height: 500px;
    width: 550px;
    margin: 0 auto;
    padding-top: 1em;
    font-size: 1.2em;
}

#loginForm label,
#signupForm label,
#passForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    font-size: 16px;
}

#writeForm .makeSubmit {
    width: 180px;
    height: 30px;
    color: white;
    background-color: #ffd253;
}

#writeForm .makeSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: white;
    color: #ffd253;
}

#writeForm input {
    border: 1px solid #ffd253;
    border-radius: 3px;
    width: 400px;
    height: 50px;
    background-color: white;
    font-size: 18px;
}

#writeForm label {
    font-weight: bold;
    font-size: 21px;
    color: #3f3d3b;
}

#suggestForm label {
    font-weight: bold;
    font-size: 21px;
    color: #3f3d3b;
}

#suggestForm .makeSubmit {
    width: 180px;
    height: 30px;
    color: #D25559;
    background-color: white;
}

#suggestForm .makeSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #D25559;
    color: white;
}

#suggestForm input {
    border: 1px solid #D25559;
    border-radius: 3px;
    width: 400px;
    height: 50px;
    background-color: white;
    font-size: 18px;
}

.formSubmit {
    transition: background-color 0.4s ease;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 20px;
    width: 400px;
    background-color: #c5bcb9;
    border-radius: 2px;
    border-color: #e0dedc;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #3f3d3b;
}

#message button {
    background-color: white;
    border: 1px solid #4b5ac2;
    border-radius: 3px;
    color: #4b5ac2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#message button:hover {
    transition: background-color 0.4s ease;
    background-color: #4b5ac2;
    color: white;
}

h1 {
    margin-bottom: 3px;
}

h2 {
    margin-top: 3px;
    margin-bottom: 1em;
    font-weight: normal;
    color: #585858;
}